body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #aaa;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}